<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="easy-money-account-form-styles.html">
<link rel="import" href="../cells-contact-avatar/cells-contact-avatar.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../cells-product-more-info/cells-product-more-info.html">
<link rel="import" href="../cells-checkbox-button/cells-checkbox-button.html">
<!--.
`<easy-money-account-form>` description.

Example:

```html
<easy-money-account-form></easy-money-account-form>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --easy-money-account-form  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="easy-money-account-form">
  <template>
    <style include="easy-money-account-form-styles"></style>
    <slot></slot>
    <p>
      <cells-atom-subheader heading-level="1">
        <span slot="heading">Cuenta Online 0 Comisiones</span>
      </cells-atom-subheader>
    </p>
    <p>
      <cells-atom-subheader class="userheader">
        <span slot="left">
            <cells-contact-avatar src="[[user.avatar]]" alt="[[user.firstName]]"></cells-contact-avatar>
        </span>
        <span slot="left">
            &nbsp;&nbsp;<strong>[[user.firstName]] [[user.lastName]]</strong> <br/>&nbsp;&nbsp;[[user.email]]
        </span>
      </cells-atom-subheader>
    </p>
    <cells-product-more-info
      product="[[conditions]]"
      local-currency="EUR"
      date-format="DD MM YYYY">
    </cells-product-more-info>

    <cells-checkbox-button>He leído, comprendo y acepto las condiciones</cells-checkbox-button>

    <p>
      <cells-st-button on-click="_handleCancelarClick" class="size-xs secondary">
        <button>Cancelar</button>
      </cells-st-button>
      <cells-st-button on-click="_handleContratarClick" class="size-xs primary">
        <button>Contratar</button>
      </cells-st-button>
    </p>
    <br/>
    <cells-generic-dp
        id="addaccountdp"
        host="http://localhost:3010"
        path="easymoney/v1/users/{{user.id}}/accounts"
        handle-as="json"
        method="POST"
        on-request-success="_handleRequestAddAccountSuccess"
        on-request-error="_handleRequestAddAccountError"
        >
    </cells-generic-dp>

  </template>
  <script src="easy-money-account-form.js"></script>
</dom-module>
