<dom-module id="easy-money-account-form-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  --cells-radio-group-icon-radios-content: {
    margin-bottom: 0.15rem;
  };
  --cells-radio-button-icon-body-label: {
    margin-left: 2.5rem;
    margin: 0rem 1rem 0rem 1rem;
  };
  --cells-st-button-primary: {
    background-color: #000;
    color: #fff;
  };
  --cells-st-button-secondary: {
    background-color: gray; 
    color: #fff;
  };
  --cells-st-button-primary-hover:{
    background-color: rgb(50, 50, 50) ;
  };
  --cells-st-button-secondary-hover: {
    background-color: LightGray ;
  };
  --cells-atom-subheader: {
    font-size: 1.5rem;
    font-weight: 500;
    color: gray;
  };
  @apply --easy-money-account-form; 
}
.userheader {
  --cells-atom-subheader: {
    font-size: 0.9rem;
    font-weight: 500;
    color: #2A86CA;
  };
}
:host([hidden]), [hidden] {
  display: none !important; }

.inlinetit {
  display: inline; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>